/* Google Fonts Typography*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap');

/* CSS Global variables */
:root {
  --text-color-dark: #7D7987;
  --text-color-light: #F90;
  --border-line: #ECEFF2;
}

/* HTML5 display-role reset for browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body config global */
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* Main */
#hero {
    width: 592px;
    margin: 0 auto;
}

#hero img {
    margin-bottom: 72px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

span, a {
  color: var(--text-color-light);
}

/* Generic p and footer */
p, footer {
  color: var(--text-color-dark);
  font-size: 14px;
  line-height: 28px;
}

/* Class Line */
.line {
  width: 568px;
  height: 0;
  margin: 62px auto 8px;
  border: 1px solid var(--border-line);
}

/* Footer */
footer a {
  text-decoration: none;
}

footer a:hover {
  transition: all .3s;
  font-size: large;
  font-weight: bold;
}

footer a + a {
    margin-left: 28px;
}

/* Id imagem balls */
#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}